{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
	<h1>My ads</h1>
	<div class="row">
		{% for ad in ads %}
			<div class="col-3 g-2">
				<div class="card">
					<img src="{{ ad.image }}" class="card-img-top" alt="{{ ad.title }}">
					<div class="card-body">
						<h5 class="card-title d-flex justify-content-between">{{ ad.title }} <span
									class="badge bg-info text-dark">{{ ad
								.price|format_currency('EUR') }}</span></h5>
						<p class="card-text">{{ ad.description }}</p>
					</div>
				</div>
			</div>
		{% else %}
			<li><em>no ad found</em></li>
		{% endfor %}
	</div>
{% endblock %}
